ol{
    font-style:inherit;
    font-weight: bold;
    	font-weight: bold;
}
h1{
		text-decoration-line: underline;	
}
h {
			text-decoration-line: underline;	

}
div{
	text-align: center;
}
*{
	background-image: url(https://images.pexels.com/photos/1572386/pexels-photo-1572386.jpeg?auto=compress&cs=tinysrgb&w=600);
	background-attachment: fixed;
	text-decoration-color: black;
	color: white;
}